.container{
    margin-top: 30px;
    font-family: 'Poppins';
    font-size: 16px;
  }
.card{
    margin: 20px;
    display: flex;
}

.card-title{
    font-weight: bold;
    font-size: 20px;
}

.card-body a{
    text-decoration: none;
    color: #FFCD2E;
}
.card-body a:hover{
    text-decoration: none;
    color: rgb(117, 117, 242);


}
.header{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;  
    font-weight: bold;
}

.bg {
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    font-weight: 700;

}

.image { 
    width: 100%;
}

.image img{
    width: 100%;
    opacity: 0.55;
    filter:brightness(80%)
}
.btn{
    margin-bottom: 10px;
}
.container-detail {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 220px;
    margin-right: 220px;
    font-family: 'Poppins';
    font-size: 16px;
}

#button-modal:hover{

    border: 1px solid #000;
    background-color: rgba(255, 205, 46, 0);
    color: #000;

}
.article {
    text-align: center;
}

.article p{
    text-align: left;
}



