{% extends 'base.html' %}
    {% block meta %}
        <title>do-nasi</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
        <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,100;1,300;1,400&display=swap" rel="stylesheet"> -->
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Inknut Antiqua' rel='stylesheet'>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> -->
        
        <!-- <script>
            $(document).on('submit', '#form', function(e){
                var form_data = $('#form')
                $.ajax({
                    type: "POST",
                    url: '/landing_page/login/',
                    dataType: "json",
                    data: form_data.serialize(),
                    header: {'X-CSRFToken': '{% csrf_token %}'},
                    success: function(){
                        $("#form").trigger("reset");
                        var success = response['success']
                        if (success){
                            update();
                            alert("Successfully logged in!")
                            document.getElementById('welcome-heading').innerHTML = 'Ayo mulai berdonasi!';
                        } else {
                            document.getElementById('welcome-heading').innerHTML = 'Gagal!';
                        }
                    }
                });
                
            });
            // function update() {
                
            //     document.getElementById('welcome-heading').innerHTML = 'Ayo mulai berdonasi!';
            //     // document.getElementById('welcome-nama').innerHTML = 'Selamat datang, ' + $("#name").val() + '!';
            //     document.getElementById('button-section').innerHTML = '<a href="{% url "landing_page:register" %}">Register</a>';

                
            // }
        </script>
     -->
        <style>
            main {
                font-family: 'Poppins';
                font-size: 20px;
                font-weight: 100;
                
            }

            .nav-placement {
                height: 70px;
                
            }

            .welcome-section{
                height: calc(100vh - 70px);;
                /* background-image: url("https://s41256.pcdn.co/wp-content/uploads/2022/05/220527-WorldHunger-AI_2-1024x538.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                opacity: 0.7; */
                text-align: center;
                overflow: hidden;
                position: relative;
            }

            .welcome-section img {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0.5;
                width: 100%;
                height: 100vh;
                overflow: hidden;
                object-fit: cover;
                z-index: -1;
            }

        
            .welcome-heading h1{
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 60px;
                letter-spacing: -0.017em;

            }

            .content {
                position: absolute;
                bottom: 0;
                margin-right: auto;
                margin-left: auto;
                right: 0;
                left: 0;
            }



            

            .welcome-btn {
                background: #FFCD2E;
                border-radius: 9px;
                box-shadow: 2px 3px 6px -1px #d8d8d8d2;
                margin-bottom: 100px;
            }

            .welcome-btn:hover {
                border: 1px solid #000;
                background-color: rgba(255, 205, 46, 0);
                color: #000;
            }

            .about {
                height: 100vh;
                margin: 50px 300px;
                
            }

            .about h3 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 27px;
            }

            .about p {
                margin-bottom: 40px;
                font-size: 16px;
                text-align: justify;
            }

      
            /* p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 100;
                font-size: 20px;
                line-height: 30px;
            } */

            



        </style>
    
    
    {% endblock meta %}
    {% block content %}
        <main>
            <nav class="nav-placement"></nav>
            <div class="welcome-section">
                <img src="https://s41256.pcdn.co/wp-content/uploads/2022/05/220527-WorldHunger-AI_2-1024x538.jpg">
                <div class="content-container">
                    <div class="content">
                        <div class="welcome-heading">
                            {% if user.is_authenticated %}
                                <h1>Selamat datang, {{user.name}}!</h1>
                            {% else %}
                                <h1><b>Ikut menjadi bagian dari do-nasi!</b></h1>
                            {% endif %}
                        </div>

                        <div class="button-section">
                            {% if user.is_authenticated %}
                                {% if user.role == "Donatur" %}
                                    <a class="btn welcome-btn" href="#" role="button">Mulai berdonasi</a>
                                    <!-- <a href=# class="welcome-btn">Mulai berdonasi</a> -->
                                {% else %}
                                    <a class="btn welcome-btn" href="#" role="button">Add donasi</a>
                                    <!-- <a href=# class="welcome-btn">Add donasi</a> -->
                                {% endif %}
                            {% else %}
                                <a class="btn welcome-btn" href="{% url 'landing_page:login' %}" role="button">Login</a>
                                <a class="btn welcome-btn" href="{% url 'landing_page:register' %}" role="button">Register</a>
                                <!-- <a href="{% url 'landing_page:login' %}" class="welcome-btn">Login</a>
                                <a href="{% url 'landing_page:register' %}" class="welcome-btn">Register</a> -->
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="login-section">
                <div class="welcoming-section">
                    <h1 id="welcome-heading">Ikut menjadi bagian dari do-nasi!</h1>
                    <p id="welcome-nama"></p> -->
                <!-- </div id="button-section"> -->
                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn login" data-toggle="modal" data-target="#loginModal">Login</button>  -->
                
                <!-- {% if user.is_authenticated %}
                    <a href=#>Mulai berdonasi</a>
                    <a href="{% url 'landing_page:logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'landing_page:login' %}">Login</a>
                <a href="{% url 'landing_page:register' %}">Register</a>
                {% endif %}
                <br> -->

                <!-- <div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loginLabel">Login</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="POST" id="form">
                                {% csrf_token %}
                                <table>
                                    <tr><td><label for="email">Email: </label></td></tr> 
                                    <tr>
                                        <td><input id="emailInput" type="email" name="email" class="form-control"></td>
                                    </tr>
                                    <tr><td><label for="password">Password: </label></td></tr> 
                                    <tr>   
                                    <tr>
                                        <td><input id="passwordInput" type="password" name="password" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><button type="submit" id="reg-button" value="Masuk" class="btn btn-primary btn-block" style="width: 426px;">Submit</button></td>
                                    </tr>
                                    
                                </table>
                            </form>
                        </div>
                    </div>
                </div> -->


                
            <!-- </div> -->

            <div class="about" id="about" style="font-family: 'Poppins'; font-weight: 100;">
                <h3>What is do-nasi?</h3>
                <p style="font-family: 'Poppins'; font-weight: 100;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus amet pretium in nulla 
                    adipiscing cras. Sem egestas metus tellus cras faucibus. Velit amet feugiat feugiat 
                    feugiat. Egestas eu arcu egestas rhoncus vitae a interdum nisl ornare. Faucibus morbi 
                    elementum, etiam aliquet egestas eros. Sed sed ut tellus, morbi leo. Id mauris neque, 
                    vulputate tellus dis faucibus risus, ullamcorper. Dui id aliquet fusce turpis urna, a. 
                    Dignissim urna semper id vulputate urna a. Ut nulla fermentum non mattis ultricies. 
                    Consequat a, sed tristique sit dignissim varius amet massa. Nulla proin mauris et velit 
                    aliquet donec porttitor.
                </p>
                <h3>Why do-nasi?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus amet pretium in nulla 
                    adipiscing cras. Sem egestas metus tellus cras faucibus. Velit amet feugiat feugiat 
                    feugiat. Egestas eu arcu egestas rhoncus vitae a interdum nisl ornare. Faucibus morbi 
                    elementum, etiam aliquet egestas eros. Sed sed ut tellus, morbi leo. Id mauris neque, 
                    vulputate tellus dis faucibus risus, ullamcorper. Dui id aliquet fusce turpis urna, a. 
                    Dignissim urna semper id vulputate urna a. Ut nulla fermentum non mattis ultricies. 
                    Consequat a, sed tristique sit dignissim varius amet massa. Nulla proin mauris et velit 
                    aliquet donec porttitor.
                </p>
            </div>

        </main>
    {% endblock content %}